.hero {
    background: linear-gradient(to bottom, #000, #ffffff);
    color: #fff;
    text-align: center;
    padding: 150px 0;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}
